/* General tags*/
body {
  margin: 0px;
}

/* ------------------ Navigation ---------------------*/

nav {
  background-color: green;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

nav li {
  width: 100%;
  text-align: center;
  list-style: none;
}

.subnav{
  display: none;
}

li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 200%;
}

.menu {
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
}
